#login-box {
    margin-top: 20px;
    background-color: rgb(230, 230, 230);
    /* background-color: rgb(0, 120, 254); */
    padding: 40px;
    /* border-radius: 20px; */
    /* color: white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-header {
    margin: 20px;
    font-size: 70px;
    color: rgb(58, 58, 58);
}

#login-text {
    margin: 20px;
    font-size: 19px;
    color: rgb(58, 58, 58);
}